.vizDisplay {
  text-align: center;
  margin: 0 auto;
  width: 99vw;
  height: 90vh;
}

.button-group {
  text-align: center;
}

button {
  width:8%;
  min-width: 150px;
  max-width: 200px;
  margin: 0 auto;
  background: black;
  color: greenyellow;
  border: solid 1px greenyellow;
  padding: 5px;
  margin-right: 5px;
  font-size: 14px;
  border-radius: 2px;
}

button:hover,
button:focus {
  font-weight: bold;
  border: solid 2px greenyellow;
  cursor: pointer;
  transition: all 0.2s ease;
}

.display-nums {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}